

.ecoverde-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.ecoverde-intro img{

    width: 180px;
}

/**/
#ecoverde-pilares{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ecoverde-pilares-botoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#ecoverde-pilares a{
    background-color: aliceblue;
   
    color: black;
    padding: 20px;
    border-radius: 12px;
    }

    /**/

#ecoverde-recursos{
text-align: center;
}
#ecoverde-recursos img{
    width: 500px;
}

#ecoverde-inclusao{
        text-align: center;
}
#ecoverde-inclusao img{
        width: 500px;
}


#ecoverde-preservacao{
    text-align: center;
}
#ecoverde-preservacao img{
    width: 500px;
}