/* ================== Seção intro da parte de ecoverde do site ================== */
#ecoverde-intro {
    justify-content: space-around;
}

#ecoverde-intro a {
    display: block;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

#ecoverde-intro a:hover {
    transform:  translateY(10px);
}

#ecoverde-intro a img {
    width: 20rem;
}

/* ================== Seção pilares da parte de ecoverde do site ================== */
#ecoverde-pilares {
    min-height: 100vh;
    scroll-margin-top: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ecoverde-pilares-botoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ecoverde-pilares-botoes a {
    width: 20rem;
}

/* ==================== Ecoverde recursos, inclusão e preservação ===================== */
#ecoverde-recursos, #ecoverde-inclusao, #ecoverde-preservacao {
    justify-content: space-evenly;
    scroll-margin-top: 30px;
}

/* ================== Divs de display de cada pilar de economia verde ================== */
.ecoverde-display {
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: 50px;
}

.ecoverde-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.ecoverde-display p {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    height: 100%;
    padding: 10%;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    border-radius: inherit;
    align-content: center;
}

/* =================== MEDIA QUERY ===================== */
@media (max-width:768px) {
    #ecoverde-pilares {
        grid-template-columns: 1fr;
    }

    .ecoverde-pilares-botoes a {
        width: 100%;
    }

    .ecoverde-pilares-botoes {
        justify-content: flex-start;
        gap: 3rem;
    }
}