@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: aliceblue;
    background-color: #314028;
     font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
   background-color:  #526448;
    
  
}
footer{
    background-color: #526448;
    text-align: center;
}
footer nav{
    text-align: center;
    color: #ffffff;
    
}
nav{
    display: flex;
    margin-left: 50px;
    gap: 50px;
}
a{
    color: aliceblue;
    text-decoration: none;
}


